<div>
  <table class="table table-striped table-dark hornalista">
    <thead class="thead-dark">
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Log in date</th>
        <th scope="col">Number of Clicks</th>
        <th scope="col">Number of Characters in chat</th>
        <th scope="col">
          <button type="button" class="btn btn-danger tosko" (click)="logOut()">
            Log Out
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ loggedInUser.firstName }}</td>
        <td>{{ loggedInUser.lastName }}</td>
        <td>{{ loggedInUser.email }}</td>
        <td>{{ loginTime }}</td>
        <td>{{ clickCounter }}</td>
        <td>Null</td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <div class="container">
    <div class="row">
      <div class="col">
        <div *ngFor="let user of users">
          <div  (click)="selectUser(user)">
            {{ user.firstName }} {{ user.lastName }}<br>
            <button *ngIf="selectedUser === user" (click)="toskovecf()" >View details</button>
            <button *ngIf="selectedUser === user">Start Chat</button>
          </div>
        </div>
      </div>
      <div class="col">
        
      <div *ngIf="toskov">
        <h2>{{ selectedUser?.firstName }} {{ selectedUser?.lastName }}</h2>
        <p>Email: {{ selectedUser?.email }}</p>
        <p>Phone: {{ selectedUser?.phone }}</p>
      </div>
    </div>
  </div>
</div>
</div>